@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  @apply block w-2/4 border-none h-[1.5px] bg-gray-700;
}

.nav-link {
  @apply flex flex-col items-center gap-1;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
